.headerlist li a {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color:#7D7D7D;
}
ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.headerlist :hover {
    color: #03A9F4;
}

.height-p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #B4AD9E;
}

.h {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #626262;
}

.low-p {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    
    color: #626262;
}

.text-btn {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
        /* identical to box height */
    
    
    color: #626262;
    background: #FFFFFF;


    width: 165px;
    height: 60px;
    left: 506px;
    top: 2110px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.headerlist {
    display: flex;
    align-items: center;

    margin: 0 auto;
    width: 555px;
    justify-content: space-around;
    margin-bottom: 104px;
    margin-top: 71px;
    padding-left: 0;
}

.infolist>.info {
    width: 420px;
    margin-bottom: 120px;
}
.infolist {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 906px;
    justify-content: space-between;
    flex-wrap: wrap;

}
.btndiv{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 54px;
}
